<div id="header_top">
    <a href="<%= root_path %>" class="float_left">
        <img src="/images/logo.png" alt="Afro Jams Nite">
    </a>
    <!--<div id="site_title" class="float_right">
        Afro Jams Nite
    </div> -->
    <div class="clear_both"></div>
</div>
<div style="clear:both"></div>