<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="eddwinston@gmail.com, robliuning@gmail.com" />

<%= javascript_include_tag "jquery", "easySlider", "global" %>
<%= stylesheet_link_tag "style" %>

<title><%= title %></title>
</head>
<body>
	<div id="topWrapper">
		<div class="topGradient">
			<div class="topSpikes">
				<div class="topContentWrapper">
					<div class="topContent">
					    <header>
					        <%= render 'layouts/header_bottom' %>
					    </header>
						<div class="logo">
						</div>
						<div class="description">
							<div id="readMore" class="green button">
								<a href="/events">Read More</a>
							</div>
	    					<span class="textVersion" id="layer1"></span>
	    					<span class="textVersion" id="layer2"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="downWrapper">
		<div class="downContent">
			<div id="slideShow">
			<ul>				
				<li><a href="#"><img src="/images/slideshow/01.jpg" alt="slideshow" /></a></li>
				<li><a href="#"><img src="/images/slideshow/02.jpg" alt="slideshow" /></a></li>
				<li><a href="#"><img src="/images/slideshow/03.jpg" alt="slideshow" /></a></li>
				<li><a href="#"><img src="/images/slideshow/04.jpg" alt="slideshow" /></a></li>
				<li><a href="#"><img src="/images/slideshow/05.jpg" alt="slideshow" /></a></li>	 	
			</ul>
			</div>	
		</div>
	</div>
</body>
</html>